---
---
@import "{{site.theme}}";

h3, h4, h5, h6 {
  margin-bottom: 0em;
}

body {
  background-color: #fff;
  padding:5em;
  font: 18px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: -1em;
  overflow: hidden;
}

ul li {
  // float: left;
  display: inline-block;
}

ul li a {
  display: inline-block;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
}

div.emptyspace {
  height: 5em;
}

div.social {
  padding: 1em;
  text-align: center;

  h2 {
    margin: 0, 0, 20px;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}


header {
  img {
    border-radius: 50%;
  }
}
